.warppent {
    width: 100%;
    background-color: var(--neutral-darker);
    border-radius: 8px;
    height: 40px;
    overflow: hidden;
    
}

.filled {
    background-color: var(--primary-highlight);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-darker);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}